

h2,h3,h4,h5,h6 {
    border:0;
    font-family:inherit;
    font-style:inherit;
    outline:0;
    vertical-align:baseline;
    padding:0;
}

p {
    border:0;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    outline:0;
    vertical-align:baseline;
    color:#777;
    margin:-5px 0 23px;
    padding:0;
}

code {
    border:0;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    outline:0;
    vertical-align:baseline;
    margin:0;
    padding:0;
}

em {
    border:0;
    font-family:inherit;
    font-size:100%;
    font-weight:inherit;
    outline:0;
    vertical-align:baseline;
    font-style:italic;
    margin:0;
    padding:0;
}

strong {
    border:0;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    outline:0;
    vertical-align:baseline;
    margin:0;
    padding:0;
}

fieldset {
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    outline:0;
    vertical-align:baseline;
    border:none;
    display:block;
    margin:0 0 23px;
    padding:0 0 5px;
}

label,legend {
    border:0;
    font-family:inherit;
    font-style:inherit;
    font-weight:inherit;
    outline:0;
    vertical-align:baseline;
    font-size:12.41px;
    line-height:16px;
    color:#222;
    cursor:default;
    letter-spacing:.3px;
    text-transform:uppercase;
    margin:0;
    padding:0;
}

table {
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    outline:0;
    vertical-align:baseline;
    border:0;
    border-collapse:collapse;
    border-spacing:0;
    margin:0;
    padding:0;
}

th,td {
    font-size:100%;
    vertical-align:baseline;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-family:inherit;
    outline:0;
    margin:0;
    padding:0;
}

:focus {
    outline:0;
}

blockquote:before,blockquote:after,q:before,q:after {
    content:"";
}

*,:before,:after {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

hr {
    height:1.1px;
    border:1px solid #ebebeb;
    margin:0 0 28px;
}

p+p {
    margin-top:-13px;
}

p {
    color: #777;
    margin: -5px 0 23px;
}

h2 {
    -webkit-font-smoothing:antialiased;
    font-size:23.8px;
    line-height:32px;
    margin:-7px 0 21px -1px;
}

h3 {
    -webkit-font-smoothing:antialiased;
    font-size:18px;
    line-height:28px;
    margin:-8px 0 9px;
}

h4 {
    word-wrap:break-word;
    font-size:13px;
    line-height:20px;
    font-weight:700;
    margin:-5px 0 11px;
}

h5 {
    font-size:13px;
    line-height:20px;
    margin:-5px 0 11px;
}

h6 {
    font-size:12.41px;
    line-height:16px;
    letter-spacing:.3px;
    text-transform:uppercase;
    margin:-4px 0 13px;
}

abbr {
    text-transform:none!important;
}

a {
    color:#4184f3;
    text-decoration:none;
    cursor:pointer;
}

.p6n-grid-row {
    display:block;
    font-size:0;
    line-height:0;
    margin:0 -10px;
}

.p6n-grid-col {
    display:inline-block;
    font-size:13px;
    line-height:20px;
    position:relative;
    vertical-align:top;
    padding:0 10px;
}

.p6n-table td,.p6n-table th {
    border-bottom:1.1px solid #e7e7e7;
}

.p6n-table td:not(:first-child) {
    padding-left:20px;
}

.p6n-table td .p6n-button {
    margin:-5px 0;
}

.p6n-table td {
    vertical-align:top;
    padding:11px 0;
}

.p6n-table {
    max-width:100%;
    width:100%;
    margin:-4px 0 28px;
}

.p6n-table th {
    font-size:12.41px;
    line-height:16px;
    color:#777;
    letter-spacing:.3px;
    text-transform:uppercase;
    vertical-align:top;
    padding:0 0 13px;
}

.p6n-table th:not(:first-child) {
    padding-left:20px;
    white-space:nowrap;
}

.p6n-table th a.p6n-sort-link:before {
    border-bottom:1.1px solid rgba(0,0,0,0);
    border-right:1.1px solid rgba(0,0,0,0);
    content:"";
    display:block;
    height:5px;
    position:absolute;
    right:0;
    top:4px;
    width:5px;
    transition:all ease .2s;
    -webkit-transform:rotateZ(45deg);
    transform:rotateZ(45deg);
}

.p6n-table th a.p6n-sort-link {
    transition:all ease .2s;
    color:#777;
    display:inline-block;
    position:relative;
    padding-right:12px;
    text-decoration:none!important;
    margin:0;
}

.p6n-table th.p6n-align-right a.p6n-sort-link {
    padding-left:12px;
    padding-right:0;
}

.p6n-table th a.p6n-sort-flip:before {
    top:7px;
    -webkit-transform:rotateZ(-135deg);
    transform:rotateZ(-135deg);
}

.p6n-table th .p6n-th-note {
    font-size:12.41px;
    line-height:16px;
    color:#777;
    text-transform:none;
    margin:0;
}

.p6n-col-checkbox {
    width:16px;
    -webkit-user-select:none;
}

.p6n-table th a.p6n-sort-link:hover:before {
    border-bottom-color:#bbb;
    border-right-color:#bbb;
}

.p6n-table .p6n-checkbox span.p6n-form-label {
    font-size: 0;
    height: 19px;
    line-height: 0;
    padding-left: 0;
    width: 16px;
}

.p6n-action-bar {
    border: none;
    margin: 0 0 28px;
    padding: 0;
}

.p6n-action-bar, .p6n-form-buttons {
    font-size: 0;
    line-height: 0;
}

.p6n-action-bar>*{
    margin-right: 12px;
}

button.btn,a.btn,input[type=submit],input[type=button],input[type=reset]{
    height: 32px;
    line-height: 30px;
    min-width: 72px;
    padding: 0 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

section {
    margin-bottom: 40px;
}

.p6n-table td.p6n-valign-middle{
    vertical-align: middle;
}

.p6n-table th a.p6n-sort-link.sort-header:hover {
    color: #4184f3;
}
.p6n-table th a.p6n-sort-link:hover {
    color: #222;
}
.p6n-table th a.p6n-sort-link.sort-header {
    color: #4184f3;
}
.p6n-table th a.p6n-sort-link.sort-header:before {
    border-bottom-color: #4184f3;
    border-right-color: #4184f3;
}
.p6n-table th a.p6n-sort-flip:before {
    top: 7px;
    -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg);
}

/* ************************************************************************************ */
/* **                                    FORM                                        ** */
/* ************************************************************************************ */

.p6n-ae-settings-form {
    float: left;
}

form {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.p6n-form label {
    display: block;
    margin: -4px 0 28px 0;
}

.p6n-form * {
    max-width: 440px;
}

label, legend {
    font-size: 12.41px;
    line-height: 16px;
    color: #222;
    cursor: default;
    letter-spacing: .3px;
    text-transform: uppercase;
}

label, legend {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.p6n-form-label-optional-msg {
    color: #a9a9a9;
    font-size: 12.41px;
    letter-spacing: normal;
    text-transform: none;
}

.p6n-form .p6n-form-inline{
    display:flex;
}

.p6n-form-inline>*{
    flex:1;
}

.p6n-form-inline>*:not(:last-child){
    margin-right: 12px;
}

.p6n-scroll-container {
    overflow-y: scroll;
    overflow-x: auto;
    height: 100%;
    width: 100%;
}

section.container{
    padding-top: 60px;
}

/* ************************************************************************************ */
/* **                                  UPLOAD                                        ** */
/* ************************************************************************************ */

.upload-image{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #ddd;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    overflow: hidden;
}

.upload-image>*{
    display: block;
    width: 100%;
}

body{
    overflow-y: scroll;
    overflow-x: auto;
}




.main{
    position: absolute;
    top: 0;
    left: 216px;
    bottom: 0;
    right: 0;
    display: block;
    margin: 24px 28px 48px;
}

.content{
    position: relative;
}


.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

